<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard do Robô</title>
    <script src="https://unpkg.com/htmx.org"></script>
</head>
<body>
    <h1>Dashboard do Robô</h1>
    <p id="robot-status">{{ 'Robô Conectado' if connected else 'Robô Desconectado' }}</p>
    <h2>Logs</h2>
    <div id="logs" hx-get="/get_logs" hx-trigger="every 2s">
        {% for log in logs %}
        <div>
            <p>Comando: {{ log.command }}</p>
        </div>
        {% endfor %}
    </div>
    <div>
        <button hx-post="/delete-logs" >Apagar Todos os Logs</button>
        {% if connected %}
            <button hx-post="/move-up" >Mover Robô para Cima</button>
            <button hx-post="/move-down" >Mover Robô para Baixo</button>
        {% endif %}
    </div>
</body>
</html>
